body{
    display:flex;
    justify-content: center;
    background-color: rgb(160, 152, 152);
}

#Main_layout{
   width:400px;
   height:fit-content;
   padding:20px;
   background-color: rgb(187, 185, 185);
   text-align: center;
   border-radius:10px;
}

input{
    width:75%;
    padding:10px;
    border-radius:50px;
    border-style:none;
    font-size: 20px;
}
h1{
    padding:20px;
    margin:0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button{
    margin:15px 5px 15px 0px;
    padding:10px 25px 10px 25px;
    background-color:white;
    border-radius:20px;
    border:none;
    font-family: cursive;
    font-size: 17px;
}
#btn1{
    background-color: rgb(89, 89, 242);
}
#btn2{
    background-color:rgb(248, 30, 30);
}
#btn3{
    background-color: rgb(79, 215, 79);
}
div{
    align-items: center;
}
li,#mistake{
    text-align: left;
    margin:10px;
    height:20px;
    font-size: 20px;
    padding:10px;
    padding-left:30px;
    border-radius:10px 0px 10px 20px;
}
li:nth-child(even){
    background-color: rgb(219, 216, 216);
}
li:nth-child(odd){
    background-color:rgb(240, 237, 237)
}
#mistake{
    color:rgb(108, 39, 39);
    font-size:25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}